@page
@model WatchedItWeb.Pages.LoginModel
@{
}

<div class="wrapper">
    <form method="post" class="auth">
        <fieldset>
            <legend>Login</legend>
            <div class="field">
                <input type="text" asp-for="user.Username">
                <label asp-for="user.Username">Username</label>
            </div>
            <div class="field">
                <input type="password" asp-for="user.Password">
                <label asp-for="user.Password">Password</label>
            </div>
            <div class="field-submit">
                <button type="submit">Log in</button>
            </div>
        </fieldset>
    </form>
</div>      