@page
@model WatchedItWeb.Pages.RegisterModel
@{
}


<div class="wrapper">
    <form action="" class="auth">
        <fieldset>
            <legend>Register</legend>
            <div class="field">
                <input type="text" name="username" id="username">
                <label for="username">Username</label>
            </div>
            <div class="field">
                <input type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
            <div class="field">
                <input type="password" name="confirm-password" id="confirm-password">
                <label for="confirm-password">Confirm password</label>
            </div>
            <div class="field">
                <input type="text" name="first-name" id="first-name">
                <label for="first-name">First name</label>
            </div>
            <div class="field">
                <input type="text" name="last-name" id="last-name">
                <label for="last-name">Last name</label>
            </div>
            <div class="field">
                <input type="email" name="email" id="email">
                <label for="email">Email</label>
            </div>
            <div class="field-submit">
                <button type="submit">Register</button>
            </div>
        </fieldset>

    </form>
</div>     