@page
@model WatchedItWeb.Pages.RegisterModel
@{
}


<div class="wrapper">
    <form method="post" class="auth">
        <fieldset>
            <legend>Register</legend>
            <div class="field">
                <input type="text" asp-for="user.Username">
                <label asp-for="user.Username">Username</label>
            </div>
            <div class="field">
                <input type="password" asp-for="user.Password">
                <label asp-for="user.Password">Password</label>
            </div>
            <div class="field">
                <input type="password" name="confirm-password" id="confirm-password">
                <label for="confirm-password">Confirm password</label>
            </div>
            <div class="field">
                <input type="text" asp-for="user.FirstName">
                <label asp-for="user.FirstName">First name</label>
            </div>
            <div class="field">
                <input type="text" asp-for="user.LastName">
                <label asp-for="user.LastName">Last name</label>
            </div>
            <div class="field">
                <input type="email" asp-for="user.Email">
                <label asp-for="user.Email">Email</label>
            </div>
            <div class="field">
                <input type="text" asp-for="user.ImageUrl">
                <label asp-for="user.ImageUrl">Profile Picture URL</label>
            </div>
            <div class="field-submit">
                <button type="submit">Register</button>
            </div>
        </fieldset>

    </form>
</div>     