@page
@model WatchedItWeb.Pages.Movies.AddMovieModel
@using ClassLibraries.models
@{
}

<div class="wrapper">
    <form method="post" class="auth">
        <fieldset>
            <legend>Add @(Model.m == false ? "Episode" : "Movie")</legend>
            <div class="field">
                <input type="text" asp-for="movie.Name">
                <label asp-for="movie.Name">Name *</label>
            </div>
            <div class="field">
                <input type="date" asp-for="movie.Year">
                <label asp-for="movie.Year">Year *</label>
            </div>
            <div class="field">
                <input type="text" asp-for="movie.ImageUrl">
                <label asp-for="movie.ImageUrl">Image URL</label>
            </div>
            <div class="field">
                <input type="text" asp-for="movie.Genre">
                <label asp-for="movie.Genre">Genre *</label>
            </div>
            <div class="field">
                <input type="text" asp-for="movie.Producer">
                <label asp-for="movie.Producer">Producers *</label>
            </div>
            <div class="field">
                <textarea asp-for="movie.Description" rows="10"></textarea>
                <label asp-for="movie.Description">Description</label>
            </div>
            <div class="field">
                <textarea asp-for="movie.Actors" rows="8"></textarea>
                <label asp-for="movie.Actors">Actors *</label>
            </div>
            <div class="field">
                <input type="text" asp-for="movie.Duration">
                <label asp-for="movie.Duration">Duration * HH:MM:SS</label>
            </div>
            @if (!Model.m)
            {
                <div class="field-special">
                    <div class="field-special-half">
                        <input type="number" name="season" id="season">
                        <label for="season">S *</label>
                    </div>
                    <div class="field-special-half">
                        <input type="number" name="episode" id="episode">
                        <label for="episode">EP *</label>
                    </div>
                </div>
            }
        <div class="field-submit">
            <p class="info">* Field are mandatory!</p>
            <button type="submit">Add</button>
        </div>
        </fieldset>
    </form>
</div>      