@page
@model WatchedItWeb.Pages.Movies.AllMoviesModel
@{
}

<div class="wrapper">
    <h2 class="heading">All movies</h2>
    <div class="row">
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://media.s-bol.com/NkDEW5XnQp5m/550x777.jpg" alt="">
                    </div>
                </div>
                <p>Shrek 2</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjA5NDQyMjc2NF5BMl5BanBnXkFtZTcwMjg5ODcyMw@@@@._V1_FMjpg_UX1000_.jpg" alt="">
                    </div>
                </div>
                <p>How to train your dragon</p>
            </a>
        </div>
        <div class="card-movie">
            <a asp-page="/Movies/MovieDetails">
                <div class="arbox">
                    <div class="media">
                        <img src="https://media.pathe.nl/nocropthumb/620x955/gfx_content/other/api/filmdepot/v1/movie/download/33164_144829_ps_sd-high.jpg" alt="">
                    </div>
                </div>
                <p>Spider-Man: No Way Home</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://s3.gaming-cdn.com/images/products/5765/orig/spel-steam-adventure-time-pirates-of-the-enchiridion-cover.jpg" alt="">
                    </div>
                </div>
                <p>Adventure Time</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://media.s-bol.com/x2BJyyqLGjQn/550x778.jpg" alt="">
                    </div>
                </div>
                <p>Hobbit</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://s3.gaming-cdn.com/images/products/5765/orig/spel-steam-adventure-time-pirates-of-the-enchiridion-cover.jpg" alt="">
                    </div>
                </div>
                <p>Adventure Time</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://s3.gaming-cdn.com/images/products/5765/orig/spel-steam-adventure-time-pirates-of-the-enchiridion-cover.jpg" alt="">
                    </div>
                </div>
                <p>Adventure Time</p>
            </a>
        </div>
        <div class="card-movie">
            <a href="">
                <div class="arbox">
                    <div class="media">
                        <img src="https://s3.gaming-cdn.com/images/products/5765/orig/spel-steam-adventure-time-pirates-of-the-enchiridion-cover.jpg" alt="">
                    </div>
                </div>
                <p>Adventure Time</p>
            </a>
        </div>
        <h3 class="load-more">Load more...</h3>
    </div>
</div>