@page
@model WatchedItWeb.Pages.Movies.MovieDetailsModel
@{
}
<div class="wrapper">
    <div class="movie-details">
        <div class="moviepic">
            <div class="media">
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/snh_online_6072x9000_posed_01.jpg " alt="">
            </div>
        </div>
        <div class="movie-description">
            <h3>Spider-Man: No Way Home</h3>
            <div class="desc-header">
                <p>2021</p>
                <p>Action/Adventure</p>
                <p>4.7/5</p>
            </div>
            <div class="desc-desc">
                <p>Spider-Man: No Way Home is a 2021 American superhero film based on the Marvel Comics character Spider-Man, co-produced by Columbia Pictures and Marvel Studios and distributed by Sony Pictures Releasing. It is the sequel to Spider-Man: Homecoming (2017) and Spider-Man: Far From Home (2019), and the 27th film in the Marvel Cinematic Universe (MCU).In the film, Parker asks Dr. Stephen Strange (Cumberbatch) to use magic to make his identity as Spider-Man a secret again following its public revelation at the end of Far From Home. When the spell goes wrong, the multiverse is broken open which allows visitors from alternate realities to enter Parker's universe.</p>
            </div>
            <div class="desc-actors">
                <h3>2 Hours 28 minutes</h3>
                <div class="producers">
                    <h4>Producers:</h4>
                    <p>Kevin Feige</p>
                    <p>Amy Pasal</p>
                </div>
                <div class="actors">
                    <h4>Starring:</h4>
                    <p>	Tom Holland</p>
                    <p>Zendaya</p>
                    <p>Benedict Cumberbatch</p>
                    <p>Jacob Batalon</p>
                    <p>Jon Favreau</p>
                    <p>Jamie Foxx</p>
                    <p>Willem Dafoe</p>
                    <p>Alfred Molina</p>
                    <p>Benedict Wong</p>
                    <p>Tony Revolori</p>
                    <p>Marisa Tomei</p>
                    <p>Andrew Garfield</p>
                    <p>Tobey Maguire</p>
                </div>
            </div>
            <div class="controls">
                <a asp-page="">Edit</a>
                <a asp-page="">Delete</a>
            </div>
            <div class="leave-review">
                <h4>Leave review</h4>
                <form action="" class="flat">
                    <div class="media">
                        <img src="https://sothis.es/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="">
                    </div>
                    <textarea placeholder="Description" class="review-desc" type="text"></textarea>
                    <input placeholder="rating" class="stars" type="text" name="" id="" max="">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="reviews">
            <h3>Reviews</h3>
            <div class="review">
                <div class="review-header">
                    <div class="media">
                        <img src="https://sothis.es/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="">
                    </div>
                    <p>Jane Doe</p>
                    <p>5/5</p>
                </div>
                <div class="review-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit nesciunt eaque praesentium placeat numquam corrupti nam qui assumenda earum vero in ipsa, repellat culpa nobis dolorem quidem rerum commodi.</p>
                </div>
            </div>
            <div class="review">
                <div class="review-header">
                    <div class="media">
                        <img src="https://sothis.es/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="">
                    </div>
                    <p>Jane Doe</p>
                    <p>5/5</p>
                </div>
                <div class="review-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit nesciunt eaque praesentium placeat numquam corrupti nam qui assumenda earum vero in ipsa, repellat culpa nobis dolorem quidem rerum commodi.</p>
                </div>
            </div>
            <div class="review">
                <div class="review-header">
                    <div class="media">
                        <img src="https://sothis.es/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="">
                    </div>
                    <p>Jane Doe</p>
                    <p>5/5</p>
                </div>
                <div class="review-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugit nesciunt eaque praesentium placeat numquam corrupti nam qui assumenda earum vero in ipsa, repellat culpa nobis dolorem quidem rerum commodi.</p>
                </div>
            </div>
        </div>
    </div>
</div>