@page
@model WatchedItWeb.Pages.Series.SeriesDetailsModel
@{
}

<div class="wrapper">
    <div class="movie-details">
        <div class="moviepic">
            <div class="media">
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/snh_online_6072x9000_posed_01.jpg " alt="">
            </div>
        </div>
        <div class="movie-description">
            <h3>Spider-Man: No Way Home</h3>
            <div class="desc-header">
                <p>2021</p>
                <p>Action/Adventure</p>
                <p>4.7/5</p>
            </div>
            <div class="desc-desc">
                <p>Spider-Man: No Way Home is a 2021 American superhero film based on the Marvel Comics character Spider-Man, co-produced by Columbia Pictures and Marvel Studios and distributed by Sony Pictures Releasing. It is the sequel to Spider-Man: Homecoming (2017) and Spider-Man: Far From Home (2019), and the 27th film in the Marvel Cinematic Universe (MCU).In the film, Parker asks Dr. Stephen Strange (Cumberbatch) to use magic to make his identity as Spider-Man a secret again following its public revelation at the end of Far From Home. When the spell goes wrong, the multiverse is broken open which allows visitors from alternate realities to enter Parker's universe.</p>
            </div>
            <div class="desc-actors">
                <h3>2 Hours 28 minutes</h3>
                <div class="producers">
                    <h4>Producers:</h4>
                    <p>Kevin Feige</p>
                    <p>Amy Pasal</p>
                </div>
                <div class="actors">
                    <h4>Starring:</h4>
                    <p>	Tom Holland</p>
                    <p>Zendaya</p>
                    <p>Benedict Cumberbatch</p>
                    <p>Jacob Batalon</p>
                    <p>Jon Favreau</p>
                    <p>Jamie Foxx</p>
                    <p>Willem Dafoe</p>
                    <p>Alfred Molina</p>
                    <p>Benedict Wong</p>
                    <p>Tony Revolori</p>
                    <p>Marisa Tomei</p>
                    <p>Andrew Garfield</p>
                    <p>Tobey Maguire</p>
                </div>
            </div>
            <div class="controls">
                <a asp-page="/Movies/AddMovie">Add episode</a>
                <a asp-page="">Edit</a>
                <a asp-page="">Delete</a>
            </div>
        </div>
        <div class="episodes">
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 8</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 7</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 6</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 5</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 4</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 3</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 2</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 2 Episode 1</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 1 Episode 8</a>
            <a asp-page="/Movies/MovieDetails">The Withcer: Season 1 Episode 7</a>
        </div>
    </div>
</div>